

/*.dayCell {
  border: 2.5px solid red;
  margin-left: 0;
}

.containerPad {
  margin-top: 2em;
}

.main-body {
  border-radius: 1em;
  background-color: white;
  padding: 1em;
  margin-bottom: 2em;
}*/
