*, *::before, *::after {
  /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
}

html {
  height: 100;
  font-size: 112%;
  background-color: #d6f3ff;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /*background-size: cover;*/
  font-family: 'Montserrat', sans-serif;
  /*background-color: #ccf0ff;*/
  background-color: #d6f3ff;
  /*background-color: #e5f7ff;*/
  min-height: 100%;
  /*padding-bottom: 200px;*/
  padding-top: 0;
 }

.navbar {
  background-color: #4c91cd;
  z-index: 1;
 }

 .left {
   width: 34em;
 }

.link {
  display: inline-block;
  position: relative;
  height: 100%;
  bottom: 0.35em;
  color: white;
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.left:active {
  color: rgb(122, 197, 244);
  background-color: white;
}

li {
  padding-left: 0.5em;
  padding-top: 0.15em;
}

.navbar .fa {
  color: #e7eaeb;
  font-size: 0.5em;
  /*font-family: 'Montserrat', sans-serif;*/
}

.navbar p {
  float: right;
  font-family: 'Montserrat', sans-serif;
}

.navbar p .fa {
  padding-bottom: 2em;
}

.navbar .fa:hover {
  color: white;
  font-weight: bold;
  /*-webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, -webkit-transform 0.5s;*/
}

.navbar-header {
  float: right;
}

.navbar-toggle {
  padding-top: 0.85em;
  padding-right: 0.8em;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;
}

.navbar-header .fa {
  font-size: 2.5em;
}


/*Put ASIDE (below) into a media query that targets phones and tablets oriented in landscape */


@media only screen and (max-width : 767px) {


}

@media only screen and (min-width : 768px) {

  .hamburger {
    display: none;
  }

}

@media only screen and (min-width : 768px) and (max-width : 992px) {

}

@media only screen and (max-width : 1200px) {

}

 /* Small devices (tablets, 768px and up) */
 /*@media (min-width: @screen-sm-min) {

 }*/

 /* Medium devices (desktops, 992px and up) */
 /*@media (min-width: @screen-md-min) {

 }*/

 /* Large devices (large desktops, 1200px and up) */
 /*@media (min-width: @screen-lg-min) {

 }*/

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
