.body {
  white-space: nowrap;
  height: 100%
}

section {
  height: 100%;
}

.list-group {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  font-size: 1.2em;
}

.clock {
  background-color: #3f4e62;
  color: white;
  position: relative/;
  font-size: 1.5em;
  overflow: auto;
  max-width: 22em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 1em;

}

.clock p {
  padding-top: 0.45em;
  text-align: left;
}

.body {
  border-radius: 1em;
  background-color: white;
  padding: 1em;
}

.noItemAnnounce {
  text-align: center;
  padding-top: 0.6em;
}

.itemDisplay {
  border-radius: 1em;
  background-color: #e7eaeb;
  color: #3f4e62;
  min-height: 1.8em;
  margin: 0.5em;
}

.itemDisplay:hover {
  background-color: white;
}

.priorityCheckboxImportanceName {
  padding-right: 0;
  padding-left: 0.5em;
  /*height: 1.7em;*/
  /*min-width: 3.5em;*/
  max-width: 40em;
  overflow: hidden;
}

.completedBox {
  position: relative;
  overflow: hidden;
  float: left;
  padding-top: 0.2em;
}

.archiveCheckbox {
  overflow: hidden;
  border-radius: 1px;
  width: 1em;
  height: 1em;
  /*background-color: green;*/
}

.priorityCell {
  border-radius: 1em;
  width: 1.7em;
  /*width: 5em;*/
  height: 1.25em;
  /*height: 1em;*/
  background-color: #3f4e62;
  color: white;
  border-style: none;
  text-align: center;
  /*float: right;*/
  height: 100%;
  padding-top: 0.2em;
}

.priorityCell p {
  text-align: center;
}

.importanceCell {
  position: relative;
  padding-top: 0.2em;
  padding-right: 0;
  margin-right: -1em;
}

.nameCell {
  position: relative;
  display: block;
  overflow-x: hidden;
  min-height: 1.5em;
  padding-top: 0.2em;
  padding-left: 0;
}

.nameCell p {
  /*float: right;*/
  text-align: left;
  white-space: normal;
}

.dateCell {
  padding-top: 0.2em;
}

.editDeleteBox {
  position: relative;
  overflow: hidden;
  float: right;
  height: 100%;
  padding: 0;
}

.editBtn {
  border-radius: 1em;
  width: 4em;
  height: 1.8em;
  background-color: #6FC853;
  color: #e7eaeb;
  border-color: #e05d6f;
  border-style: none;
  float: right;
  text-decoration: none;
  text-align: center;
}

.editBtn:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.editBtn p {
  text-align: center;
  padding-top: 0.25em;
}

.deleteBtn {
  border-radius: 1em;
  width: 4em;
  height: 1.8em;
  background-color: #C3C300;
  color: #e7eaeb;
  border-style: none;
  float: right;
  text-decoration: none;
  text-align: center;
}

.deleteBtn:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.deleteBtn p {
  text-align: center;
  padding-top: 0.1em;
}
/*End Item Display elements*/

/*Begin Modal elements*/

.nameEditBox {
  margin-left: 2.9em;
  width: 10em;
  border-radius: 0.3em;
  color: black;
  /*margin-bottom: 0.5em;*/
}

.dateCell {
  position: relative;
  /*overflow: auto;*/
  /*margin-bottom: 0.5em;*/
}

.dateEditBox {
  /*width: 100%;*/
  color: black;
  /*overflow: auto;*/
}

.importanceEditBox {
  /*width: 11.5em;*/
  /*height: 2.5em;*/
  color: black;
}

.urgentCell {
  position: relative;
  overflow: auto;
  width: 6em;
  height: 3.5em;
  color: black;
}

.urgentLine {
  width: 100%;
}

.urgentEditBox {
  width: 100%;
}

.durationCell {
  /*Should be double the width of .numberCell*/
  width: 7em;
}
.numberCell {
  position: relative;
  overflow: auto;
  width: 3.5em;
  color: black;
}

.numberLine {
  /*width: 100%;*/
}

.numberEditBox {
  /*width: 100%;*/
}

/*End Modal elements*/

/*Begin Chart elements */

.containerPad {
  margin-top: 5%;
}

.chartContainer {
  position: relative;
  overflow: auto;
  border-radius: 1em;

  /*background-color: #e7eaeb;*/
  background-color: white;
  padding: 1em;
}

.allCharts {

}

.pieChart {

}


.rankCell {
  position: relative;
  overflow: auto;
  width: 5em;
  color: black;
}

.createdAtCell {
  position: relative;
  overflow: auto;
  width: 9em;
  color: black;
}

.dueCell {
  position: relative;
  overflow: auto;
  width: 17em;
  color: white;
}

.deleteBox {
  position: relative;
  overflow: auto;
}

/*This will color an item's text red when the item checkbox is checked.*/
.redText {
  color: #e05d6f;
}

.redCell {
  background-color: #e05d6f;
}

.yellowText {
  /*color: #B3B300;*/
  color: #C3C300;
}

.yellowCell {
  /*background-color: #B3B300;*/
  background-color: #C3C300;
}

/* End of CSS for listed items */

/* Begin Charts CSS */

.graphTable {
  width: 60em;
}

.graphRow {
  width: 20em;
}

/* Emd Charts CSS */

/* Begin CSS for Form */

.outerTable {
  width: 41em;
}

.form {
  color: black;
  /*margin-left: 2.42em;*/
}

.tableRow {
  margin-bottom: 10em;
}

.innerTableOne {
  width: 17.75em;
}

.formBox {
  padding-bottom: 1em;
  color: #3f4e62;
}

.name {
  width: 17.5em;
}

.date {
  width: 11em;
  /*height: 2.5em;*/
}

.fa {
  color: #3f4e62;
}

.time {
  width: 6.2em;
  /*height: 2.5em;*/
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.importance {
  width: 14em;
  height: 2.5em;
  /*padding-bottom: 1em;*/
}

.buttonBox {
  height: 2.5em;
}

.innerTableTwo {
  width: 18em;
}


.number {
  width: 3.5em;
}

.btn-add {
  border-radius: 1em;
  width: 10em;
  background-color: #4c91cd;
  color: #e7eaeb;
  border-style: none;
}

.btn-add:hover {
  color: white;
  font-weight: bold;
}

@media only screen and (max-width : 619px) {
/*actually 844*/
  .clock {
    max-width: 10em;
    margin-right: 1%;
    margin-left: 1%;
    /*margin-bottom: 0;
    margin-top: 0;*/

  }

}

@media only screen and (max-width : 767px) {
/*actually 844*/
  /*.nameCell {
    width: 1em;
    margin-right: -100em;
  }*/

}

@media only screen and (min-width : 768px) {
  /*.itemDisplay {
     height: 1.8em;
  }
}*/

@media only screen and (min-width : 768px) and (max-width : 992px) {



}

@media only screen and (max-width : 784px) {

  /*.itemDisplay {
    width: 60%;
  }

  .list-group {
    min-width: 45em;
  }

  .nameCell {
    width: 70%;
    margin-right: 0;
  }

  .dateCell {
    display: none;
  }

  .importanceCell {
    display: none;
  }

  .editDeleteBox {
    float: none;
  }*/

}


@media only screen and (min-width : 1041px) {

  /*.itemDisplay {
    width: 60em;
  }*/

}
