.body {
  white-space: nowrap;
}
.navbar .user-links-container {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  color: white;
  /* #3 */
  text-decoration: none;
}

.user-links-container {
  position: relative;
  top: 0.0005rem;
  margin-left: 2.42em;
  margin-bottom: 1em;
  height: 100%;
  right: 40;
  /*padding-left: 2em;
  padding-right: 2em;*/
  vertical-align: middle;
  text-decoration: none;
}

.navbar-link  {
  color: black;
  font-size: 2em;
  letter-spacing: 0.1em;
  font-weight: 700;
  /*text-transform: uppercase;*/
  text-decoration: none;
  cursor: pointer;
/*
  -webkit-transition: padding-right 0.5s, font-size 0.5s, letter-spacing 0.5s, color 0.5s, -webkit-transform 0.5s;
  transition: padding-right 0.5s, font-size 0.5s, letter-spacing 0.5s, color 0.5s, -webkit-transform 0.5s;
*/
}

.clock {
  color: black;
  position: relative;
  font-size: 1em;
  overflow: auto;
  margin-left: 2.42em;
  width: 100%;
  height: 100%;
  top: 0; left: 0; bottom: 0; right: 40;
}

.list-group {
  color: black;
  margin-left: 2.42em;
  /*margin-right: 2.22em;*/
  position: relative;
  font-size: 1em;
  /*overflow: auto;*/
  width: 100%;
  height: 100%;
  top: 0; left: 0; bottom: 0; right: 0;
}

.list {
  white-space: nowrap;
}

.row {
  /*height: 10em;*/
}

.cell {
  /*height: 5em;*/
  padding-right: 0px;
  padding-bottom: -1em;
}

.priorityCell {
  position: relative;
  overflow: auto;
  width: 5em;
  top: 0; left: 0; bottom: 0; right: 0;
}

.nameCell {
  position: relative;
  overflow: auto;
  width: 17em;
  top: 0; left: 0; bottom: 0; right: 0;
  color: black;
}

.nameLine {
  width: 100%;
  height: 100%;
}

.nameEditBox {
  width: 12em;
  border-radius: 0.3em;
}

.dateCell {
  position: relative;
  overflow: auto;
  margin-left: -4em;
  width: 16em;
  color: black;
}

.dateLine {

}

.dateEditBox {
  width: 14em;
}

/*
 * Datepicker element
 */

.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.importanceCell {
  position: relative;
  overflow: auto;
  margin-left: -1em;
  width: 13em;
  height: 3.5em;
  color: black;
}

.importanceLine {
  width: 100%;
}

.importanceEditBox {
  width: 11.5em;
  height: 2.5em;
}

.urgentCell {
  position: relative;
  overflow: auto;
  width: 6em;
  height: 3.5em;
  color: black;
}

.urgentLine {
  width: 100%;
}

.urgentEditBox {
  width: 100%;
}

.durationCell {
  /*Should be double the width of .numberCell*/
  width: 7em;
}
.numberCell {
  position: relative;
  overflow: auto;
  width: 3.5em;
  color: black;
}

.numberLine {
  width: 100%;
}

.numberEditBox {
  width: 100%;
}

.rankCell {
  position: relative;
  overflow: auto;
  width: 5em;
  color: black;
}

.createdAtCell {
  position: relative;
  overflow: auto;
  width: 9em;
  color: black;
}

.dueCell {
  position: relative;
  overflow: auto;
  width: 17em;
  color: black;
}

.completedBox {
  position: relative;
  overflow: auto;
  margin-left: 7em;
}

.deleteButton {
  position: relative;
  overflow: auto;
  margin-left: -7em;
}

.text {
  text-decoration: line-through;
}

/* End of CSS for listed items */
/* Begin CSS for Form */

.outerTable {
  width: 41em;
}

.form {
  color: black;
  margin-left: 2.42em;
}

.tableRow {
  margin-bottom: 10em;
}

.innerTableOne {
  width: 17.75em;
}

.formBox {
  padding-bottom: 1em;
}

.name {
  width: 17.5em;
}

.date {
  width: 11em;
  /*height: 2.5em;*/
}

.time {
  width: 6.2em;
  /*height: 2.5em;*/
}

.importance {
  width: 14em;
  height: 2.5em;
  /*padding-bottom: 1em;*/
}

.buttonBox {
  height: 2.5em;
}

.innerTableTwo {
  width: 18em;
}


.number {
  width: 3.5em;
}

/* Begin CSS for Datepicker popup */
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

  /* End CSS for Datepicker popup*/

.addButton {
  position: relative;
  overflow: auto;
  width: 20em;
  height: 1.8em;
  /*top: 0; left: 0; bottom: 0; right: 0;*/
  color: white;
  background-color: rgb(133,150,117);
}

.well {
  color: black;
}

.panel-body {
  width: 30em;
}
/*clicToEdit directive template css*/

/*body{
  padding: 25px;
  background-color: black;
  color: gray;
}*/

/*.templateRoot{
    display: inline-block;
}
.hover-edit-trigger {
    padding: 3px;
}
.hover-edit-trigger:hover{
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}
.edit-pencil{
    display: none;
    margin-left: 3px;
    padding: 3px;
    border-left: 1px solid #dcdcdc;
}
.hover-text-field:hover .edit-pencil{
    display: inline-block;
}
.edit-button-group{
    border: 1px solid #dcdcdc;
    border-top: none;
    border-radius: 4px;
    padding: 0px 3px 0px 3px;
}
.edit-button-group .glyphicon{
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin: 1px;
    cursor: pointer;
}*/
