<section ng-controller="UserCtrl" class="user">
  <div ng-include="'/templates/navbar.html'"></div>
<body>
  <div class="list-group">
<!--begin Clock-->
    <div class="clock-container-fluid">
      <div class="clock-row row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 column1">
          <div class="clock">
            <p><b>{{time | date: 'EEEE'}}, </b><b>{{time | date: 'MMMM'}} {{time | date: 'dd'}}, </b><b>{{time | date: 'yyyy'}} </b><b>at {{time | date: 'shortTime'}} </b></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 column2">
          <div class= "page-name">
            <b><p>calendar</p></b>
          </div>
        </div>
      </div>
    </div>

<!--end Clock-->
    <h1>This is the calendar view</h1>
    <div class="containerPad">
      <div class="container-fluid main-body">
        <div class="row">

          <table wt-responsive-table>
      <tr>
          <th class="labelSunday">Sunday</th>
          <th class="labelMonday">Monday</th>
          <th class="labelTuesday">Tuesday</th>
          <th class="labelWednesday">Wednesday</th>
          <th class="labelThursday">Thursday</th>
          <th class="labelFriday">Friday</th>
          <th class="labelSaturday">Saturday</th>
      </tr>
      <tr>
          <td class="day1">{{}}</td>
          <td class="day2">{{}}</td>
          <td class="day3">{{}}</td>
          <td class="day4">{{}}</td>
          <td class="day5">{{}}</td>
          <td class="day6">{{}}</td>
          <td class="day7">{{}}</td>
      </tr>
      <tr>
          <td class="day8 Sunday">{{}}</td>
          <td class="day9 Monday">{{}}</td>
          <td class="day10 Tuesday">{{}}</td>
          <td class="day11 Wednesday">{{}}</td>
          <td class="day12 Thursday">{{}}</td>
          <td class="day13 Friday">{{}}</td>
          <td class="day14 Saturday">{{}}</td>
      </tr>
      <tr>
          <td class="day15 Sunday">{{}}</td>
          <td class="day16 Monday">{{}}</td>
          <td class="day17 Tuesday">{{}}</td>
          <td class="day18 Wednesday">{{}}</td>
          <td class="day19 Thursday">{{}}</td>
          <td class="day20 Friday">{{}}</td>
          <td class="day21 Saturday">{{}}</td>
      </tr>
      <tr>
          <td class="day22 Sunday">{{}}</td>
          <td class="day23 Monday">{{}}</td>
          <td class="day24 Tuesday">{{}}</td>
          <td class="day25 Wednesday">{{}}</td>
          <td class="day26 Thursday">{{}}</td>
          <td class="day27 Friday">{{}}</td>
          <td class="day28 Saturday">{{}}</td>
      </tr>
      <tr>
          <td class="day29 Sunday">{{}}</td>
          <td class="day30 Monday">{{}}</td>
          <td class="day31 Tuesday">{{}}</td>
          <td class="day32 Wednesday">{{}}</td>
          <td class="day33 Thursday">{{}}</td>
          <td class="day34 Friday">{{}}</td>
          <td class="day35 Saturday">{{}}</td>
      </tr>
      <tr>
          <td class="day36 Sunday">{{}}</td>
          <td class="day37 Monday">{{}}</td>
          <td class="day38 Tuesday">{{}}</td>
          <td class="day39 Wednesday">{{}}</td>
          <td class="day40 Thursday">{{}}</td>
          <td class="day41 Friday">{{}}</td>
          <td class="day42 Saturday">{{}}</td>
      </tr>
  </table>

          <!-- <div class="month">
            <div class="weekRow">
              <div class="day">{{}}</div>
              <div class="day">2</div>
              <div class="day">3</div>
              <div class="day">4</div>
              <div class="day">5</div>
              <div class="day">6</div>
              <div class="day">7</div>
            </div>
            <div class="weekRow">
              <div class="day">8</div>
              <div class="day">9</div>
              <div class="day">10</div>
              <div class="day">11</div>
              <div class="day">12</div>
              <div class="day">13</div>
              <div class="day">14</div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

</body>
</section>
