<section ng-controller="UserCtrl" class="user">
<nav class="navbar">

  <div class="navbar-header hamburger">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false"><i class="fa fa-bars"></i>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- <a class="navbar-brand" href="#">Listo!</a> -->
  </div>
  <div class="container-fluid nav-container">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav left">
        <li ui-sref="userIncompleteItems" ng-click="refreshTalliesAndData()" class="link todo"><i class="fa fa-list-ol">&nbsp<p> to do</p></i></li>
        <li ui-sref="calendar" ng-click="refreshTalliesAndData()" class="link calendar"><i class="fa fa-calendar">&nbsp<p> calendar</p></i></li>
        <li ui-sref="userCompleteItems" ng-click="refreshTalliesAndData()" class="link complete"><i class="fa fa-archive">&nbsp<p> archive</p></i></li>
        <li ui-sref="landing" ng-click="refreshTalliesAndData()" class="link logout"><i class="fa fa-sign-out">&nbsp<p> log out</p></i></li>
      </ul>
    </div> <!-- End collapse navbar-collapse -->
  </div>
</nav>
<body>
  <div class="list-group">
<!--begin Clock-->
    <div class="clock-container-fluid">
      <div class="clock-row row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 column1">
          <div class="clock">
            <p><b>{{time | date: 'EEEE'}}, </b><b>{{time | date: 'MMMM'}} {{time | date: 'dd'}}, </b><b>{{time | date: 'yyyy'}} </b><b>at {{time | date: 'shortTime'}} </b></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 column2">
          <div class= "page-name">
            <b><p>calendar</p></b>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--end Clock-->
  <h1>This is the calendar view</h1>
</body>
</section>
