<section ng-controller="CalendarCtrl" class="user">
  <div class="containerPad">
    <div class="container-fluid main-body">
      <div class="row">

        <table wt-responsive-table>
    <tr>
        <th class="labelSunday">Sunday</th>
        <th class="labelMonday">Monday</th>
        <th class="labelTuesday">Tuesday</th>
        <th class="labelWednesday">Wednesday</th>
        <th class="labelThursday">Thursday</th>
        <th class="labelFriday">Friday</th>
        <th class="labelSaturday">Saturday</th>
    </tr>
    <tr>
        <td class="day 1">
          <div>{{}}</div>
          <div>{{}}</div>
        </td>
        <td class="day 2">{{}}</td>
        <td class="day 3">{{}}</td>
        <td class="day 4">{{}}</td>
        <td class="day 5">{{}}</td>
        <td class="day 6">{{}}</td>
        <td class="day 7">{{}}</td>
    </tr>
    <tr>
        <td class="day 8">{{}}</td>
        <td class="day 9">{{}}</td>
        <td class="day 10">{{}}</td>
        <td class="day 11">{{}}</td>
        <td class="day 12">{{}}</td>
        <td class="day 13">{{}}</td>
        <td class="day 14">{{}}</td>
    </tr>
    <tr>
        <td class="day 15">{{}}</td>
        <td class="day 16">{{}}</td>
        <td class="day 17">{{}}</td>
        <td class="day 18">{{}}</td>
        <td class="day 19">{{}}</td>
        <td class="day 20">{{}}</td>
        <td class="day 21">{{}}</td>
    </tr>
    <tr>
        <td class="day 22">{{}}</td>
        <td class="day 23">{{}}</td>
        <td class="day 24">{{}}</td>
        <td class="day 25">{{}}</td>
        <td class="day 26">{{}}</td>
        <td class="day 27">{{}}</td>
        <td class="day 28">{{}}</td>
    </tr>
    <tr>
        <td class="day 29">{{}}</td>
        <td class="day 30">{{}}</td>
        <td class="day 31">{{}}</td>
        <td class="day 32">{{}}</td>
        <td class="day 33">{{}}</td>
        <td class="day 34">{{}}</td>
        <td class="day 35">{{}}</td>
    </tr>
    <tr>
        <td class="day36">{{}}</td>
        <td class="day37">{{}}</td>
        <td class="day38">{{}}</td>
        <td class="day39">{{}}</td>
        <td class="day40">{{}}</td>
        <td class="day41">{{}}</td>
        <td class="day42">{{}}</td>
    </tr>
  </table>

        <!-- <div class="month">
          <div class="weekRow">
            <div class="day">{{}}</div>
            <div class="day">2</div>
            <div class="day">3</div>
            <div class="day">4</div>
            <div class="day">5</div>
            <div class="day">6</div>
            <div class="day">7</div>
          </div>
          <div class="weekRow">
            <div class="day">8</div>
            <div class="day">9</div>
            <div class="day">10</div>
            <div class="day">11</div>
            <div class="day">12</div>
            <div class="day">13</div>
            <div class="day">14</div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
