<section ng-controller="UserCtrl" class="user" >
  <div ng-include="'/templates/navbar.html'"></div>
<body>
<div class="list-group">
<!--begin Clock-->
<div class="clock-container-fluid">
  <div class="clock-row row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 column1">
      <div class="clock">
        <p><b>{{time | date: 'EEEE'}}, </b><b>{{time | date: 'MMMM'}} {{time | date: 'dd'}}, </b><b>{{time | date: 'yyyy'}} </b><b>at {{time | date: 'shortTime'}} </b></p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 column2">
      <div class= "page-name">
        <b><p>to do list</p></b>
      </div>
    </div>
  </div>
</div>
<!--end Clock-->
<!--begin FORM-->
<div class="containerPad">
  <div class="container-fluid main-body form-body">
    <div class="form row">
      <form ng-submit="addItem()"><!-- push a new message onto the array-->
<!--name-->
        <div class="col-lg-2 col-md-2 col-sm-5 col-xs-12 formFormat name">
          <input class="form-control" ng-model="newItemName" placeholder="enter item name" />
        </div>
<!--date-->
        <!-- <form name="timepickerForm" class="form-inline" role="form"> -->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 date">
          <input type="text" size="1" class="btn-date form-control" ng-model="newDueDate" data-date-format="longDate" data-autoclose="1" data-animation="am-flip-x" placeholder="enter <i class='fa fa-calendar'></i>" bs-datepicker>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 time">
          <input type="text" size="1" class="btn-time form-control" ng-model="newDueDate" data-time-format="h:mm a" data-autoclose="3" data-animation="am-flip-x" placeholder="Time" bs-timepicker>
        </div>
        <!-- </form> -->
          <!-- <small>Enter <i class="fa fa-calendar"></i> and <i class="fa fa-clock-o"></i> :</small> -->
<!--importance-->
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12 importance formFormat">
          <a href class="tip" data-animation="am-flip-x" bs-tooltip="importanceTip">
            <button type="button" class="btn-importance btn btn-default" ng-model="iconwrap.selectedIcon" data-html="1" data-animation="am-flip-x" data-toggle="true" placeholder="enter <i class='fa fa-star'>" bs-options="icon.label as icon.label for icon in icons" bs-select>Action<span class="caret"></span>
          </button></a>
        </div>
<!--est. time-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hour-and-minute">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 hour">
            <!-- <a href class="tip" data-animation="am-flip-x" bs-tooltip="dateTip"><button type="button" class="btn-hour btn btn-default" ng-model="hourwrap.selectedHour" data-html="1" data-animation="am-flip-x" data-toggle="true" placeholder="estimate <i class='fa fa-clock-o'></i>" bs-options="hour.time as hour.time for hour in hours" bs-select><span class="caret"></span></button></a> -->
            <a href class="tip" data-animation="am-flip-x" bs-tooltip="dateTip"><button type="button" class="btn-hour btn btn-default" ng-model="hourwrap.selectedHour" data-html="1" data-animation="am-flip-x" data-toggle="true" bs-options="hour as hour for hour in hours" placeholder="estimate <i class='fa fa-clock-o'></i>" bs-select><span class="caret"></span></button></a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 minute">
            <!-- <a href class="tip" data-animation="am-flip-x" bs-tooltip="timeTip"><button type="button" class="btn-minute btn btn-default" ng-model="minutewrap.selectedMinute" data-html="1" data-animation="am-flip-x" data-toggle="true" bs-options="minute.time as minute.time for minute in minutes" placeholder="estimate <i class='fa fa-hourglass-half'></i>" bs-select>Action<span class="caret"></span></button></a> -->
            <a href class="tip" data-animation="am-flip-x" bs-tooltip="timeTip"><button type="button" class="btn-minute btn btn-default" ng-model="minutewrap.selectedMinute" data-html="1" data-animation="am-flip-x" data-toggle="true" bs-options="minute as minute for minute in minutes" placeholder="estimate <i class='fa fa-hourglass-half'></i>" bs-select>Action<span class="caret"></span></button></a>
          </div>
        </div>
<!--Add Button-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-div"><button type="submit" type="button" class="btn-add">Add to-do item</button>
        </div>
      </form>
    </div> <!--end row-->
  </div> <!--end container-fluid-->
</div> <!--end containerPad-->
<!--end FORM-->

<!--begin ItemDisplay-->
<div class="container-fluid main-body">
<!--select all / clear selected / delete selected-->
  <div class="row formControls">
    <!-- <input type="checkbox" ng-model="makeYellow" ng-click="toggleAllToDelete(items)" /><p>select all</p> -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left-wrap btn-wrap">
      <button class="controlBtn selectAll" ng-click="selectForDelete(items)" ng-model="makeYellow" ng-hide="hideSelectAll" ng-init="!hideSelectAll">
        <p>select all</p>
      </button>
      <button class="controlBtn clearAll" ng-model="makeYellow" ng-click="undoSelectForDelete(items)" ng-hide="!hideSelectAll">
        <p>clear selected</p>
      </button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-wrap btn-wrap">
      <button class="controlBtn deleteSelected" ng-click="deleteSelected()">
        <p>delete selected</p>
      </button>
    </div>
  </div>
<!--select all / clear selected / delete selected-->
  <div class="row itemDisplay" ng-repeat="item in items | orderBy: '-rank'" ng-show="!item.isComplete" ng-hide="item.isComplete" ng-mouseleave="hover = false">

  <p class="noItemAnnounce" ng-if="itemTally.incomCount == 0">There are no to do items at this time</p>
  <!-- <div class="row itemDisplay" ng-repeat="item in incompleteItems | orderBy: '-rank'" ng-hide="item.isComplete"> -->
    <div class="priorityCheckboxImportanceNameDate">
<!--PRIORITY & CHECKBOX-->
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 priorityAndCheckbox">
    <!-- <div class="priorityCheckboxImportanceName"> -->
<!--CHECKBOX-->
        <div class="completedBox">
          <input type="checkbox" id="cb" ng-model="items.isSafeToComplete" ng-click="toggleItemToDelete(item)" ng-change="items.$save(item)"/>
          <!-- <label for="cb"></label> -->
        </div>
<!--PRIORITY-->
        <div class="priorityCell" ng-class="{'redCell': (item.isPastDue && !makeYellow), yellowCell: makeYellow}">
          <p>{{$index + 1}}</p>
        </div>
      </div>
<!--IMPORTANCE-->
      <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1 importanceCell">
        <!-- {{item.importance}} -->
        <p ng-bind-html="item.importance"></p>
        <!-- <div ng-class="{'redText': (item.isPastDue && !makeYellow), yellowText: makeYellow}" data-ng-bind-html="item.importance"></div> -->
      </div>
<!--NAME-->
      <div class="col-lg-5 col-md-5 col-sm-5 col-sx-5 nameCell">
          <p ng-class="{'redText': (item.isPastDue && !makeYellow), yellowText: makeYellow}">{{item.name}}</P>
      </div>
<!--DATE-->
      <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1 dateCell" ng-class="{'redText': (item.isPastDue && !makeYellow), yellowText: makeYellow}">
        {{item.dueDate | date: 'MMM'}} {{item.dueDate | date: 'dd'}} <span ng-hide="isCurrentOrPreviousYear(item.dueDate)">{{item.dueDate | date: 'yyyy'}}</span>  {{item.dueDate | date: 'shortTime'}}
      </div>
    </div>
<!-- begin INFO TOOLTIP -->
    <div ng-if="hover" class="pacoover">
      <div ng-include="'/templates/pacooverTooltip.html'"></div>
    </div>
<!-- end INFO TOOLTIP -->

<!-- being EDIT + DELETE + INFO-->
    <div class="InfoEditDeleteCell">
      <div ng-mouseover="hover = true" class="info"><i class="fa fa-info-circle" ng-class="{'redText': (item.isPastDue && !makeYellow), yellowText: makeYellow}"></i></div>
      <!-- ng-mouseleave="hover = false" -->
      <a href class="editBtn" ng-model="item" ng-hide="makeYellow" ng-class="{'redCell': (item.isPastDue && !makeYellow), yellowCell: makeYellow}" ng-click="showComplex(item)"><p><i class="fa fa-pencil"></i></p></a>
      <button class="deleteBtn" ng-click="updateCompletion(item)" ng-show="makeYellow" ><p><i class="fa fa-times"></i></p></button>
      <!-- <div class="deleteCheckbox">
        <input type="checkbox" id="cb" ng-change="updateCompletion(item)"/>
      </div> -->
    </div>
<!-- end EDIT + DELETE + INFO-->

  </div> <!-- item Display and ng-repeat end -->
</div> <!--container-fluid main-body end-->
<!--end ITEM DISPLAY-->
<div ng-include="'/templates/graphs.html'"></div>

</div>
</body>
</section>
