Completed items:
    <div class="row">
      <b>
        <div class="col-sm-1 priorityCell">#</div>
        <div class="col-sm-1 nameCell">to do item:</div>
        <div class="col-sm-1 importanceCell">importance:</div>
        <div class="col-sm-1 urgentCell">urgent?:</div>
        <div class="col-sm-1 durationCell">duration:</div>
        <div class="col-sm-1 rankCell">rank:</div>
        <div class="col-sm-1 createdAtCell">Active since:</div>
        <div class="col-sm-1">Due in:</div>
        <div class="col-sm-1 dateCell">date and time due:</div>
      </b>
    </div>
    <div class="row" ng-repeat="completedItem in completedItems | orderBy: '-rank'">
      <div class="col-sm-1 priorityCell cell">
        {{$index + 1}}
      </div>
<!--                            NAME                                   -->
      <div class="col-sm-1 nameCell cell">
        <div class="nameLine">
          {{completedItem.name}}
        </div>
      </div>

<!--                            IMPORTANCE                             -->
      <div class="col-sm-1 importanceCell cell">
        <div class="importanceLine">
          {{completedItem.importance}}
        </div>

<!--                            URGENT                               -->
      <div class="col-sm-1 urgentCell cell">
        <div class="urgentLine">
          {{completedItem.isUrgent}}
        </div>
      </div>
<!--                            DURATION                               -->
      <div class="col-sm-1 numberCell cell">
        <div class="numberLine">
          {{completedItem.eHour}}
        </div>
      <div class="col-sm-1 numberCell cell">
        <div class="numberLine">
          {{completedItem.eMinute}}
        </div>
      </div>
<!--                            RANK                                   -->
      <div class="col-sm-1 rankCell cell" ng-class="{'text': crossOut}">
        {{completedItem.rank}}
      </div>
<!--                            DATE CREATED                           -->
      <div class="col-sm-1 createdAtCell cell" ng-class="{'text': crossOut}">
        {{completedItem.created_at | date: 'M/d/yy h:mm a'}}
      </div>
<!--                        TIME TO COMPLETE                           -->
      <div class="col-sm-1">
        <div class="dueCell cell" ng-class="{'text': crossOut}">
          <span>{{parseTime(completedItem.dueDate).year}}yr</span>  <span>{{parseTime(completedItem.dueDate).month}}mth</span>
          <span>{{parseTime(completedItem.dueDate).day}}days</span> <span>{{parseTime(completedItem.dueDate).hour}}hrs</span> <span>{{parseTime(completedItem.dueDate).minute}}ms</span> <span>{{parseTime(completedItem.dueDate).second}}secs</span>
        </div>
      </div>
<!--                     COMPLETE CHECKBOX + DELETE                    -->
<!--
      <div class="col-sm-1 deleteButton" ng-show="crossOut">
        Delete: <button class="btn btn-default" ng-model="completedItems.dueDate" ng-click="uncrossOutItem(completedItem, completedItems.dueDate)"></button>
      </div>
    </div> -->

    <!--                            DATE                                   -->
      <div class="col-sm-1 dateCell cell">
        <div class="dateLine" ng-hide="dateNum" ng-Mouseover="dateNum=true" ng-Mouseleave="dateNum=false">
          {{completedItem.dueDate | date: 'M/d/yy h:mm a'}}
        </div>
        <input class="dateEditBox" type="datetime-local" ng-show="dateNum" ng-Mouseover="dateNum=true" ng-blur="dateNum=false"
        placeholder="yyyy-MM-ddTHH:mm" ng-model="updatedDueDate"
        ng-change="updateItem(completedItems.item, updatedDueDate, completedItem.importance, completedItem.isUrgent, completedItem.eHour, completedItems.eMinute)" />
      </div>































      <section ng-controller="UserCtrl" class="user">
        <div class="clock">
          <p><b>Time now: {{time | date: 'fullDate'}} at {{time | date: 'mediumTime'}}</b></p>
        </div>
        <div class="list-group">
        <!--                            HEADING                               -->

          <div class="row">
            <b>
              <div class="col-sm-1 priorityCell">#</div>
              <div class="col-sm-1 nameCell">to do item:</div>
              <div class="col-sm-1 dateCell">date and time due:</div>
              <div class="col-sm-1 importanceCell">importance:</div>
              <div class="col-sm-1 urgentCell">urgent?:</div>
              <div class="col-sm-1 durationCell">duration:</div>
              <div class="col-sm-1 rankCell">rank:</div>
              <div class="col-sm-1 createdAtCell">Active since:</div>
              <div class="col-sm-1">Due in:</div>
            </b>
          </div>
          <div class="row" ng-repeat="completedItem in completedItems | orderBy: '-rank'">
        <!--                            PRIORITY                               -->
            <div class="col-sm-1 priorityCell cell">
              {{$index + 1}}
            </div>
        <!--                            NAME                                   -->
            <div class="col-sm-1 nameCell cell">
              <div class="nameLine" ng-class="{'text': crossOut}" ng-hide="nameEdit" ng-Mouseover="nameEdit=true" ng-Mouseleave="nameEdit=false">
                {{completedItem.name}}
              </div>
              <input class="nameEditBox" type="inputText" ng-show="nameEdit" ng-Mouseover="nameEdit=true" ng-Mouseleave="nameEdit=false" ng-model="completedItem.name" ng-change="items.$save(completedItem)"/>
            </div>
        <!--                            DATE                                   -->
            <div class="col-sm-1 dateCell cell" ng-class="{'text': crossOut}">
              <div class="dateLine" ng-class="{'text': crossOut}" ng-hide="dateNum" ng-Mouseover="dateNum=true" ng-Mouseleave="dateNum=false">
                {{completedItem.dueDate | date: 'M/d/yy h:mm a'}}
              </div>

              <input class="dateEditBox" type="datetime-local" ng-show="dateNum" ng-Mouseover="dateNum=true" ng-blur="dateNum=false"
              placeholder="yyyy-MM-ddTHH:mm" ng-model="updatedDueDate"
              ng-change="updateItem(completedItem, updatedDueDate, completedItem.importance, completedItem.isUrgent, completedItem.eHour, completedItem.eMinute)" />
            </div>

            <!-- ng-show="dateNum" ng-Mouseover="dateNum=true" ng-Mouseleave="dateNum=false" -->

            <!--  Begin angular-strap datePicker -->

                  <!-- <form name="timepickerForm" class="form-inline" role="form">
                    <div class="form-group">
                      <div class="form-group">
                        <input type="text" size="10" class="form-control" ng-model="item.dueDate" ng-change="items.$save(item)" data-autoclose="1" placeholder="Date" bs-datepicker>
                      </div>
                      <div class="form-group">
                        <input type="text" size="8" class="form-control" ng-model="item.dueDate" ng-change="items.$save(item)" data-time-format="h:mm a" data-autoclose="1" placeholder="Time" bs-timepicker>
                      </div>
                    </div>
                  </form> -->

              <!--  End angular-strap datePicker -->
        <!--                            IMPORTANCE                             -->
            <div class="col-sm-1 importanceCell cell">
              <div class="importanceLine" ng-class="{'text': crossOut}" ng-hide="impSelect" ng-Mouseover="impSelect=true" ng-Mouseleave="impSelect=false">
                {{completedItem.importance}}
              </div>

              <select class="importanceEditBox" id="repeatSelect" ng-model="completedItem.importance" ng-change="updateItem(completedItem, updatedDueDate, completedItem.importance, completedItem.isUrgent, completedItem.eHour, completedItem.eMinute)" ng-show="impSelect" ng-Mouseover="impSelect=true" ng-Mouseleave="impSelect=false"><option ng-repeat="option in newImportanceTxt.availableOptions" value="{{option.text}}">{{option.text}}</option></select>

            <!--  Begin angular-strap select -->

              <!-- <button type="button" class="btn btn-default" ng-model="importance" ng-change="items.$save(item)" ng-show="impSelect" ng-Mouseover="impSelect=true" ng-Mouseleave="impSelect=false" data-html="1" data-animation="am-flip-x" data-toggle="true" bs-options="phrase.text as phrase.text for phrase in phrases" bs-select>Action<span class="caret"></span>
              </button> -->

            <!--  End angular-strap select -->
            </div>
        <!--                            URGENT                               -->
            <div class="col-sm-1 urgentCell cell">
              <div class="urgentLine" ng-class="{'text': crossOut}" ng-hide="urgentEdit" ng-Mouseover="urgentEdit=true" ng-Mouseleave="urgentEdit=false">
                {{completedItem.isUrgent}}
              </div>
              <div class="urgentEditBox" ng-show="urgentEdit" ng-Mouseover="urgentEdit=true" ng-Mouseleave="urgentEdit=false">
                Check if urgent: <input type="checkbox" ng-model="completedItem.isUrgent" ng-change="updateItem(completedItem, updatedDueDate, completedItem.importance, completedItem.isUrgent, completedItem.eHour, completedItem.eMinute)" />
              </div>
            </div>
        <!--                            DURATION                               -->
            <div class="col-sm-1 numberCell cell">
              <div class="numberLine" ng-class="{'text': crossOut}" ng-hide="hourEdit" ng-Mouseover="hourEdit=true" ng-Mouseleave="hourEdit=false">
                {{completedItem.eHour}}
              </div>
              <input class="numberEditBox" type="number" ng-model="completedItem.eHour"  ng-change="updateItem(completedItem, updatedDueDate, completedItem.importance, completedItem.isUrgent, completedItem.eHour, completedItem.eMinute)" ng-show="hourEdit" ng-Mouseover="hourEdit=true" ng-Mouseleave="hourEdit=false"/>
            </div>
            <div class="col-sm-1 numberCell cell">
              <div class="numberLine" ng-class="{'text': crossOut}" ng-hide="minuteEdit" ng-Mouseover="minuteEdit=true" ng-Mouseleave="minuteEdit=false">
                {{completedItem.eMinute}}
              </div>
              <input class="numberEditBox" type="number" ng-model="completedItem.eMinute"  ng-change="updateItem(completedItem, updatedDueDate, completedItem.importance, completedItem.isUrgent, completedItem.eHour, completedItem.eMinute)" ng-show="minuteEdit" ng-Mouseover="minuteEdit=true" ng-Mouseleave="minuteEdit=false"/>
            </div>
        <!--                            RANK                                   -->
            <div class="col-sm-1 rankCell cell" ng-class="{'text': crossOut}">
              {{completedItem.rank}}
            </div>
        <!--                            DATE CREATED                           -->
            <div class="col-sm-1 createdAtCell cell" ng-class="{'text': crossOut}">
              {{completedItem.created_at | date: 'M/d/yy h:mm a'}}
            </div>
        <!--                        TIME TO COMPLETE                           -->
            <div class="col-sm-1">
              <div class="dueCell cell" ng-class="{'text': crossOut}">
                <span>{{parseTime(completedItem.dueDate).year}}yr</span>  <span>{{parseTime(completedItem.dueDate).month}}mth</span>
                <span>{{parseTime(completedItem.dueDate).day}}days</span> <span>{{parseTime(completedItem.dueDate).hour}}hrs</span> <span>{{parseTime(completedItem.dueDate).minute}}ms</span> <span>{{parseTime(completedItem.dueDate).second}}secs</span>
              </div>
            </div>
        <!--                     COMPLETE CHECKBOX + DELETE                    -->

            <div class="col-sm-1 completedBox">
              <input type="checkbox" ng-model="crossOut" />
            </div>
            <div class="col-sm-1 deleteButton" ng-show="crossOut">
              Delete: <input type="checkbox" class="btn btn-danger" ng-model="completedItem.isComplete" ng-change="items.$save(completedItem)"/>
            </div>
          </div>

          <hr>
              <!-- <div id="chart-1" style="height: 300px;"></div> -->

        </div>
      </section>
