<section ng-controller="UserCtrl" ng-init="refreshTalliesAndData()" class="user">
  <!-- <section ng-controller="UserCtrl" class="user"> -->
<body>
  <div class="list-group">
<!--Clock-->
    <div class="clock">
      <div ng-show="complete == true">complete!</div>
      <p><b>{{time | date: 'EEEE'}}, </b><b>{{time | date: 'MMMM'}} {{time | date: 'dd'}}, </b><b>{{time | date: 'yyyy'}} </b><b>at {{time | date: 'shortTime'}} </b></p>
    </div>
<!--Clock-->
    <div class="container-fluid main-body">
      <p class="noItemAnnounce" ng-if="comItemTally == 0">There are no archived items at this time</p>
<!--ItemDisplay-->
      <!--The first ng-repeat alternative is commented out because it is the more robust, if limited, one, it might be reinstated-->
      <div class="row itemDisplay" ng-repeat="item in items | orderBy: '-s_rank'" ng-hide="!item.q_completed">

      <!-- <div class="row itemDisplay" ng-repeat="item in completeItems | orderBy: '-s_rank'" ng-hide="!item.q_completed"> -->
        <div class="priorityCheckboxImportanceNameDate">
<!--Just PRIORITY-->
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 priorityAndCheckbox">
<!--PRIORITY-->
            <div class="lonePriorityCell yellowCell">
              <p>{{$index + 1}}</p>
            </div>
          </div>
<!--IMPORTANCE-->
          <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1 importanceCell" ng-class="{'yellowText': item.q_completed}">
            <!-- {{item.p_importance}} -->
            <p ng-bind-html="item.p_importance"></p>
          </div>
<!--NAME-->
          <div class="col-lg-5 col-md-5 col-sm-5 col-sx-5 nameCell" ng-class="{'yellowText': item.q_completed}">
            <p>{{item.a_text}}</P>
          </div>
<!--DATE-->
          <div class="col-lg-1 col-md-1 col-sm-1 col-sx-1 dateCell" ng-class="{'yellowText': item.q_completed}">
          {{item.b_dueDate | date: 'MMM'}} {{item.b_dueDate | date: 'dd'}} <span ng-hide="isCurrentOrPreviousYear(item.b_dueDate)">{{item.b_dueDate | date: 'yyyy'}}</span>  {{item.b_dueDate | date: 'shortTime'}}
          </div>
        </div>
<!--EDIT + DELETE-->
        <!-- <div class="col-lg-1 col-sm-1 col-xs-4 editDeleteBox"> -->
        <div class="editDeleteCell">
          <!--Passing "item" into showComplex() INDEED works-->
          <a href class="editBtn" ng-class="{'yellowCell': item.q_completed}" ng-model="item" ng-show="item.q_completed" ng-click="showComplex(item)"><p><i class="fa fa-pencil"></i></p></a>
        </div>
      </div> <!--end item Display and ng-repeat-->
    </div> <!--container-fluid main-body end-->
<!--end ITEM DISPLAY-->

<!--begin GRAPH-->
    <div class="containerPad">
      <div class="container-fluid main-body">
        <div class="allCharts">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pieChart">
            <canvas id="pie" class="chart chart-pie"
          chart-data="itemData" chart-labels="itemLabels">
            </canvas>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pieChart">
            <canvas id="doughnut" class="chart chart-doughnut"
          chart-data="millisecData" chart-labels="millisecLabels">
            </canvas>
          </div>
        </div>
      </div>
    </div>
<!--end GRAPH-->
  </div> <!--end list-group-->
</body>
</section>
