<section ng-controller="UserCtrl" class="user">
    <div class="user-links-container">
        <a ui-sref="landing" class="navbar-link">Back to index.html</a>
    </div>
    <div class="formAndButtonContainer">
        <ol>
            <li ng-repeat="item in items" class="itemsList">
            <!-- edit a message -->
                <input ng-model="item.text" ng-change="items.$save(item)" />
            <!-- delete a message -->
                <button ng-click="items.$remove(item)">Delete Message</button>
            </li>
        </ol>
        <!-- push a new message onto the array -->
        <form ng-submit="addItem()">
            <input ng-model="newItemName" class="textbox"/>
            <button type="submit" class="addButton">Add to-do item</button>
        </form>
    </div>
</section>
