<section ng-controller="UserCtrl" class="user">
  <button type="submit" class="user-links-container">
    <a ui-sref="landing" class="navbar-link">Back to main page</a>
  </button>
  <div class="clock">
    <p><b>Time now: {{time | date: 'fullDate'}} at {{time | date: 'mediumTime'}}</b></p>
  </div>
  <div class="panel panel-default">
    <ol class="list-group">
      <li ng-repeat="item in items | orderBy: '-rank'" class="list-group">
        <!-- edit a message -->
        <table class="table">
          <tr>
            <th> /////////////////////////////////
            <td class="nameCell">
              <div class="nameLine" ng-hide="nameEdit" ng-Mouseover="nameEdit=true" ng-Mouseleave="nameEdit=false">
                <b>{{item.a_text}}</b>
              </div>
              <input class="nameEditBox" type="inputText" ng-show="nameEdit" ng-Mouseover="nameEdit=true" ng-Mouseleave="nameEdit=false" ng-model="item.a_text" ng-change="items.$save(item)"/>
            </td>
            <td class="dateCell">
              <div class="dateLine" ng-hide="dateNum" ng-Mouseover="dateNum=true" ng-Mouseleave="dateNum=false">
                <b>{{item.c_dueDateString}}</b>
              </div>
              <input class="dateEditBox" type="datetime-local" ng-show="dateNum" ng-Mouseover="dateNum=true" ng-Mouseleave="dateNum=false" placeholder="yyyy-MM-ddTHH:mm:ss" ng-model="item.b_dueDate" ng-change="items.$save(item)"/>
            </td>
            <td class="importanceCell">
              <div class="importanceLine" ng-hide="impSelect" ng-Mouseover="impSelect=true" ng-Mouseleave="impSelect=false">
                <b>{{item.p_importance.repeatSelect}}</b>
              </div>
              <select class="importanceEditBox" id="repeatSelect" ng-model="newImportanceTxt.repeatSelect" ng-change="items.$save(item)" ng-show="impSelect" ng-Mouseover="impSelect=true" ng-Mouseleave="impSelect=false"><option ng-repeat="option in newImportanceTxt.availableOptions" value="{{option.text}}">{{option.text}}</option></select>
            </td>
            <td class="urgentCell">
              <div class="urgentLine" ng-hide="urgentEdit" ng-Mouseover="urgentEdit=true" ng-Mouseleave="urgentEdit=false">
                <b>{{item.r_urgent}}</b>
              </div>
              <input class="urgentEditBox" type="inputText" ng-show="urgentEdit" ng-Mouseover="urgentEdit=true" ng-Mouseleave="urgentEdit=false" ng-model="item.r_urgent" ng-change="items.$save(item)" />
            </td>
            <td class="numberCell">
              <div class="numberLine" ng-hide="hourEdit" ng-Mouseover="hourEdit=true" ng-Mouseleave="hourEdit=false">
                <b>{{item.o_timeToFinishDate | date: 'H'}}</b>
              </div>
              <input class="numberEditBox" type="number" ng-model="item.m_hoursToFinish"  ng-change="items.$save(item)" ng-show="hourEdit" ng-Mouseover="hourEdit=true" ng-Mouseleave="hourEdit=false"/>
            </td>
            <td class="numberCell">
              <div class="numberLine" ng-hide="minuteEdit" ng-Mouseover="minuteEdit=true" ng-Mouseleave="minuteEdit=false">
                <b>{{item.o_timeToFinishDate | date: 'm'}}</b>
              </div>
              <input class="numberEditBox" type="number" ng-model="item.n_minutesToFinish"  ng-change="items.$save(item)" ng-show="minuteEdit" ng-Mouseover="minuteEdit=true" ng-Mouseleave="minuteEdit=false"/>
            </td>
            <td class="rankCell">
              Rank: <b>{{item.s_rank}}</b>
            </td>
          </tr>
          <tr>
            <td class="createdAtCell">
              Active since <b>{{item.t_created_at | date: 'fullDate'}}, {{item.t_created_at | date: 'shortTime'}}</b><br>
            </td>
            <td>
              due in
              <td><b>y:</b></td> {{parseTime(item.b_dueDate).year}}<br> months: {{parseTime(item.b_dueDate).month}}<br>days: {{parseTime(item.b_dueDate).day}}<br>hours:  {{parseTime(item.b_dueDate).hour}}<br>minutes: {{parseTime(item.b_dueDate).minute}}<br>seconds: {{parseTime(item.b_dueDate).second}}</b><br>
            </td>
          </tr>
          <tr>
              <td>
                <button ng-click="items.$remove(item)">Delete item</button>
              </td>
          </tr>
        </table>
              <!-- <div id="chart-1" style="height: 300px;"></div> -->

        </li>
      </ol>
        __________________________________________________________________________________________
        <!-- push a new message onto the array -->
      <form ng-submit="addItem()" class="form">
        <table>
          <tr>
            <td>Enter item name:</td>
            <td><input ng-model="newItemName" class="nameBox"/></td>
          </tr>
          <tr>
            <td>Enter due date and time:</td>
            <td><input type="datetime-local" ng-model="newDueDate" placeholder="e.g, 2016-05-01; 5:15:40 PM" class="dateBox add"/>
          </tr>
          <tr>
            <td>Enter est. time to finish:</td>
            <td><input type="number" ng-model="newHourEst" min="0" max="12" class="numberBox"/> hours and <input type="number" ng-model="newMinuteEst" min="0" max="59" class="numberBox"/> minutes </td>
          </tr>
          <tr>
            <td>Enter priority:</td>
            <td><select id="repeatSelect" ng-model="newImportanceTxt.repeatSelect" class="importanceBox">
              <option ng-repeat="option in newImportanceTxt.availableOptions" value="{{option.text}}">{{option.text}}</option></select></td>
          </tr>
          <tr>
            <td></td>
            <td><button type="submit" class="addButton">Add to-do item</button></td>
          </tr>
        </table>
      </form>
    </div>
</section>
